<html>
<head>
    <title>External</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="index.js"></script>
    <style>
        #radarCanvas {
            border-radius: 210px;
            background-color: rgba(235, 235, 235, 0.5);
        }

        body {
            background-color: rgba(35, 35, 35, 0);
            color: rgba(235, 235, 235, 1);
        }
        .withborder {
            position: fixed;
            bottom: 0px;
            left: 0px;
            border: 2px solid rgba(235,235,235,1);
            padding: 10px;
        }
    </style>
</head>
<body>
<b style="position: fixed; top: 0;left: 10px">xsip external Javascript Hack</b>
<canvas id="radarCanvas"></canvas>
<canvas id="espCanvas"></canvas>
<div id="info"></div>
<section id="menu">
    <div class="container withborder">
        <h2>Settings</h2>
        <div class="container">
            <h4>Radarsize</h4>
            <div class="form-inline">
                <input id="radarSize" type="number" class="form-control mr-1">
            </div>
        </div>
        <div class="container">
            <h4>Left Position</h4>
            <div class="form-inline">
                <input id="x" type="number" class="form-control mr-1">

            </div>
        </div>
        <div class="container">
            <h4>Top position</h4>
            <div class="form-inline">
                <input id="y" type="number" class="form-control mr-1">
            </div>
            <button id="changeRadarSize" class="btn btn-primary">change</button>
        </div>
    </div>
</section>
</body>
</html>
